.left{
    background-color: #cab3e6;
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
}
.right{
    background-color:#63a583 ;
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
}